<div class="row">
    <div class="col-md-3 col-sm-4">
        <a class="brand" href="{{site.baseurl}}/">
            <img alt="CloudShell Logo" src="{{site.baseurl}}/assets/logo.png" />
            CloudShell <small>Developer Guide</small>
        </a>
    </div>
    <div class="col-md-9 col-sm-8">
        <form class="search" action="{{site.baseurl}}/search.html">
            <input class="input" id="search-query" type="text" name="q" placeholder="Search" />
            <input class="button" type="submit" value="Search"></input>
        </form>
    </div>
</div>
