<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Introduction</a></li>
     {% for collection in site.collections %}
        {% for page in collection[forloop.index] %}
            {% if forloop.first %}
                <li class="nav-header">{{ collection[0] | capitalize }}</li>
            {% endif %}
            {% for document in collection[forloop.index].docs %}
                <li> <a href="{{site.baseurl}}/{{ document.url }}">{{ document.title }}</a></li>
            {% endfor %}
        {% endfor %}
     {% endfor %}
</ul>
